@model DepositReportRequestDto

<div class="container">
    <h1 class="text-center">Deposit Report</h1>

    <form asp-controller="DepositReport" asp-action="GenerateReport" method="post">
        <div class="form-group">
            <vc:text-input id="@Html.IdFor(x => x.OrganizationName)" label="Organization Name" value="@Html.ValueFor(x => x.OrganizationName)" length="@int.MaxValue"></vc:text-input>
            <vc:text-input id="@Html.IdFor(x => x.MCID)" label="MCID" value="@Html.ValueFor(x => x.MCID)" length="@int.MaxValue"></vc:text-input>
        </div>

        <div class="row">
            <div class="col-md-3">
                <vc:text-input id="@Html.IdFor(x => x.OrganizationId)" label="Organization ID" value="@Html.ValueFor(x => x.OrganizationId)" length="@int.MaxValue"></vc:text-input>
            </div>
            <div class="col-md-3">
                <vc:text-input id="@Html.IdFor(x => x.DepositReportId)" label="Deposit Report ID" value="@Html.ValueFor(x => x.DepositReportId)" length="@int.MaxValue"></vc:text-input>
            </div>
            <div class="col-md-3">
                <vc:date-input id="@Html.IdFor(x => x.ReportDate)" label="Report Date" value="@Html.ValueFor(x => x.ReportDate)"></vc:date-input>
            </div>
            <div class="col-md-3">
                <vc:date-input id="@Html.IdFor(x => x.TsysDate)" label="TSYS Date" value="@Html.ValueFor(x => x.TsysDate)"></vc:date-input>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <vc:text-input id="@Html.IdFor(x => x.CcmiDs)" label="CCMIDs" value="@Html.ValueFor(x => x.CcmiDs)" length="@int.MaxValue"></vc:text-input>
            </div>
            <div class="col-md-6">
                <vc:text-input id="@Html.IdFor(x => x.AchmiDs)" label="ACHMIDs" value="@Html.ValueFor(x => x.AchmiDs)" length="@int.MaxValue"></vc:text-input>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-6">
                <vc:text-input id="@Html.IdFor(x => x.XlsxReport)" label="xlsxReport" value="@Html.ValueFor(x => x.XlsxReport)" length="@int.MaxValue"></vc:text-input>
            </div>
            <div class="col-md-6">
                <vc:text-input id="@Html.IdFor(x => x.CDepositReport)" label="c_DepositReport" value="@Html.ValueFor(x => x.CDepositReport)" length="@int.MaxValue"></vc:text-input>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <vc:text-input id="@Html.IdFor(x => x.XmlName)" label="XML Name" value="@Html.ValueFor(x => x.XmlName)" length="@int.MaxValue"></vc:text-input>
            </div>
            
        </div>

        <div class="row">
            <div class="col-md-6">
                <label>CC Summary</label>
                <textarea id="@Html.IdFor(x => x.CcSummary)" name="@Html.NameFor(x => x.CcSummary)" class="form-control" rows="5">@Html.ValueFor(x => x.CcSummary)</textarea>
            </div>
            <div class="col-md-6">
                <label>ACH Summary</label>
                <textarea id="@Html.IdFor(x => x.AchSummary)" name="@Html.NameFor(x => x.AchSummary)" class="form-control" rows="5">@Html.ValueFor(x => x.AchSummary)</textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label>Report xml</label>
                <textarea id="@Html.IdFor(x => x.Reportxml)" name="@Html.NameFor(x => x.ReportXml)" class="form-control" rows="5">@Html.ValueFor(x => x.ReportXml)</textarea>
            </div>
        </div>
        <div class="form-group text-center mt-3">
            <button type="submit" class="btn btn-primary">Generate Report</button>
        </div>
    </form>
</div>