@model DepositReport.Models.Controls.NumberInputModel

<div class="form-group">
    <label for="@Model.Id">@Model.Label</label>
    <input type="number" id="@Model.Id" name="@Model.Id" value="@Model.Value" class="form-control" />
</div>