@model DepositReport.Models.Controls.TextInputModel

<div class="form-group">
    <label for="@Model.Id">@Model.Label</label>
    <input type="text" class="form-control" id="@Model.Id" name="@Model.Id" value="@Model.Value" maxlength="@Model.Length" />
</div>